* {
  margin: 0px;
  padding: 0px;
  font-family: "Fraunces", serif;
}

body {
  background-color: #1A2C61;
  color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
