* {
  margin: 0px;
  padding: 0px;
  font-family: "Fraunces", serif;
}

main {
  height: 135vh;
  min-height: 135vh;
  background-color: #19305D;
  color: #f0f8ff;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.espacio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vh;
  margin: 40px;
}

.espacio div {
  padding: 30px;
}

section {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
}

